/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer

/target
.DS_Store
**/.DS_Store

**/dist
*.so

/entry/src/main/resources/rawfile/geodata/*
!/entry/src/main/resources/rawfile/geodata/.gitkeep

/smoke-logs
